#mf_drawer {
    width: 200px;
    padding: 20px;
    position: relative;
    background-color: transparent;
}
button {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    height: 2.5rem;
    text-align: left;
}
#favorites-count {
    background-color: yellow;
    border-radius: 50%;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}
